//import lettertype
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

// browser reset + link reset
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; // 1 rem = 10px. -> 10px/16px = 62.5%
}

body {
    font-family: 'Open Sans', sans-serif;
}

.link {
    text-decoration: none;
}

// colors 

$color-primary: #A5C925;
$color-secondary: #e0ffc0;

$color-dark-1: #111;
$color-dark-2: #999;
$color-white: #fff;

// subclasses - font styling

.logo {
    font-family: "Varela Round", sans-serif;
    font-size: 2.2rem;
}

.title-large {
    font-family: "Varela Round", sans-serif;
    font-size: 4rem;
}

.title {
    font-family: "Varela-Round", sans-serif  ;
}

.sub-title {
    
    font-size: 1.3rem;
    font-weight: 600;

}

.text-primary {

}

// colors - fonts



// buttons

.btn  {
    background-color: #A5C925;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 5rem;
}

.btn-link {
    text-decoration: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    
}


