//import lettertype
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

// browser reset + link reset
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; // 1 rem = 10px. -> 10px/16px = 62.5%
    font-family: 'Open Sans', sans-serif;
}

.link {
    text-decoration: none;
}

// colors 

$color-primary: #A5C925;
$color-secondary: #e0ffc0;

$color-dark-1: #1E1F1D;
$color-light: #E7EDDE;
$color-white: #fff;

// subclasses - font styling

.logo {
    font-family: "Varela Round", sans-serif;
    font-size: 2.2rem;
}

.title-large {

}

.title {

}

.sub-title {

}

.text-primary {

}

// colors - fonts


// buttons

.btn  {
    background-color: #A5C925;
    padding: 2rem 2rem;
    border: none;
    border-radius: 5rem;
}

.btn-link {
    color: white;
    font-family: inherit;
}


